---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { render } from "astro:content";
import ReadMore from "../../components/ReadMore.jsx";
import EpicButton from "../../components/EpicButton.astro";
import SteamButton from "../../components/SteamButton.astro";
import OtherButton from "../../components/OtherButton.astro";

export async function getStaticPaths() {
  const videogames = await getCollection("videogames");
  return videogames.map((videogame) => ({
    params: { id: videogame.slug },
    props: { videogame },
  }));
}

const { videogame } = Astro.props;
const { data, slug } = videogame;
const {
  title,
  platform,
  release_date,
  developer,
  publisher,
  genre,
  price,
  rating,
  img,
  video_id,
  current_version,
  epic,
  steam,
  other,
} = data;

const { Content } = await render(videogame);
---

<Layout title={`${title}`}>
  <main class="max-w-2xl mb-8 flex flex-cols-4 justify-space-between">
    <a href="/" class="pt-3.5 hover:underline opacity-70 transition me-20">
      ← Volver atrás
    </a>
    <h1 class="text-4xl font-extrabold mb-4 text-center">{title}</h1>
   </main>

  <section class="max-w-6xl mx-auto px-4 md:px-0 grid grid-cols-1 md:grid-cols-3 gap-8 md:gap-4">
    <div class="md:col-span-2 flex flex-col items-center">
      <lite-youtube
        videoId={video_id}
        transition:name={`img-${slug}`}
        class="rounded-lg w-full md:w-[600px] max-w-full shadow-[0_0_25px_5px_rgba(128,0,255,0.3)] mb-8 transition hover:scale-105"
      ></lite-youtube>

      <div class="prose dark:prose-invert w-full text-base">
        <ReadMore collapsedHeight={250} client:load>
          <Content />
        </ReadMore>
      </div>
    </div>

    <aside class="flex flex-col gap-6">
      <div class="bg-zinc-950 rounded-2xl shadow-[0_0_25px_5px_rgba(128,0,255,0.2)] p-4 prose dark:prose-invert">
        <h3 class="text-xl font-semibold">Plataformas disponibles:</h3>
        <p>{platform}</p>
        <h3 class="text-xl font-semibold mt-4">Géneros:</h3>
        <p>{genre}</p>
        <h3 class="text-xl font-semibold mt-4">Precio:</h3>
        <p>{price}</p>
      </div>

      <div class="bg-zinc-950 rounded-2xl p-4 prose dark:prose-invert">
        <h2 class="text-2xl text-center font-bold mb-4">Visitar en</h2>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
          <EpicButton buy={epic} />
          <SteamButton buy={steam} />
          <OtherButton buy={other} />
        </div>
      </div>

      <div class="bg-neutral-900 rounded-2xl p-4 prose dark:prose-invert">
        <h2 class="text-2xl text-center font-bold mb-4">Detalles</h2>
        <div class="space-y-2">
          <div>
            <h3 class="text-lg font-semibold">Desarrollador:</h3>
            <p>{developer}</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Publicado por:</h3>
            <p>{publisher}</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Fecha de lanzamiento:</h3>
            <p>{release_date}</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Rating:</h3>
            <p>{rating}</p>
          </div>
          <div>
            <h3 class="text-lg font-semibold">Versión actual:</h3>
            <p>{current_version}</p>
          </div>
        </div>
      </div>
    </aside>
  </section>
</Layout>

<script
  type="module"
  src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1/lite-youtube.min.js"
></script>